.mybgcolor-black {
    background-color: #283441;
}

.mybgcolor-green {
    background-color: #1abc9c;
}

.mybgcolor-red {
    background-color: #ba4b63;
}

.mybgcolor-sky {
    background-color: #1ea4b6;
}

.mybgcolor-lightblue {
    background-color: #1c83c1;
}

.mybgcolor-blue {
    background-color: #0e38b5;
}

.mybgcolor-sand {
    background-color: #ccb2a3;
}

.mybgcolor-gray {
    background-color: #3a546d;
}

.mybgcolor-darckgray {
    background-color: #283341;
}

nav {
    z-index: 9999;
}

html {
    overflow-x: hidden;
}

.myfacebook {
    width: 2.3rem;
    height: 2.1rem;
}

.myinput-sub {
    height: 3rem;
}

.myinput-mex {
    height: 8rem;
}

.mybottom {
    bottom: 25%;
}

